In [2]:
# libraries 
import pandas as pd 
import os
import numpy as np
import time
import random
from csv import reader
import time

# plots:
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure


# scraping
from bs4 import BeautifulSoup
from lxml import etree #for using XPATH with beautifulsoup
import requests
import numpy as np

#JSON
import json

# GeoJSON
# import geopandas as gpd

# regular expression
import re 

# concurrent futures - boosts the process of scraping utilicing the CPU better
# two main classes- 
#       1) executor class: manages all the threads and workload
#       2) futures class: creates a little instance and manages data coming back
import concurrent.futures

# libraries: 
from requests.adapters import HTTPAdapter
from urllib3.util.retry import Retry

import glob

# ----------------------------- Check rows and columns

In [ ]:
folder_path = r'D:\Thesis\Properties\Denmark\RE_due_scraping_properties\Boligsiden_dk\Step_1_Scrape_JSON_to_table\data'

files = glob.glob(folder_path+"\*.csv")

number_of_columns = []
number_of_rows = []


for filename in files:
    
    print('######################  FILE    ############################')
    print(f'{filename}')
    print('############################################################')
    
    # reading content of csv file 
    # content.append(filename) 
    df = pd.read_csv(filename, encoding='utf-8', low_memory=False, index_col=False) 
    
    # computing number of rows
    rows = len(df.axes[0])
    number_of_rows.append(rows)
    print(f'----------------- Number of rows: {rows}')
    print()
    
    # computing number of columns
    cols = len(df.axes[1])
    number_of_columns.append(cols)
    print(f'----------------- Number of columns: {cols}')
    print()

In [10]:
set(number_of_columns)

{28, 29, 30, 31, 32}

In [11]:
set(number_of_rows)

{21,
 31,
 36,
 86,
 89,
 105,
 132,
 135,
 168,
 179,
 197,
 238,
 245,
 251,
 252,
 262,
 278,
 283,
 296,
 307,
 311,
 317,
 318,
 319,
 324,
 358,
 364,
 367,
 378,
 380,
 389,
 391,
 402,
 405,
 412,
 413,
 414,
 420,
 421,
 422,
 426,
 428,
 433,
 440,
 442,
 448,
 449,
 450,
 455,
 456,
 459,
 462,
 464,
 465,
 466,
 467,
 469,
 471,
 472,
 473,
 474,
 475,
 477,
 478,
 480,
 481,
 483,
 484,
 485,
 488,
 490,
 492,
 493,
 494,
 497,
 501,
 504,
 510,
 512,
 518,
 521,
 522,
 523,
 526,
 532,
 533,
 535,
 536,
 537,
 539,
 540,
 544,
 545,
 546,
 547,
 551,
 552,
 553,
 560,
 562,
 563,
 566,
 569,
 570,
 571,
 572,
 575,
 579,
 580,
 582,
 586,
 587,
 589,
 598,
 603,
 605,
 606,
 608,
 610,
 613,
 614,
 615,
 616,
 619,
 620,
 623,
 624,
 625,
 628,
 629,
 630,
 631,
 632,
 634,
 635,
 636,
 640,
 642,
 644,
 645,
 648,
 649,
 650,
 651,
 652,
 654,
 655,
 660,
 664,
 667,
 670,
 675,
 676,
 678,
 679,
 680,
 681,
 682,
 684,
 686,
 687,
 688,
 689,
 690,
 693,
 694,
 698,
 699,
 700,
 702,
 703,
 704,
 705,
 707,
 710,
 711,
 713,
 717,
 718,
 720,
 725,
 726,
 729,
 730,
 731,
 732,
 733,
 734,
 737,
 738,
 739,
 740,
 742,
 743,
 745,
 750,
 754,
 755,
 756,
 758,
 760,
 762,
 764,
 765,
 767,
 770,
 771,
 772,
 775,
 776,
 777,
 778,
 779,
 781,
 789,
 791,
 794,
 795,
 796,
 798,
 801,
 802,
 804,
 805,
 807,
 810,
 814,
 819,
 822,
 827,
 828,
 829,
 831,
 833,
 834,
 836,
 837,
 838,
 840,
 842,
 848,
 849,
 850,
 852,
 854,
 858,
 861,
 862,
 866,
 867,
 872,
 877,
 878,
 879,
 882,
 883,
 884,
 885,
 886,
 887,
 889,
 896,
 897,
 898,
 905,
 908,
 909,
 911,
 913,
 914,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 926,
 935,
 937,
 941,
 942,
 943,
 944,
 946,
 947,
 953,
 957,
 958,
 961,
 964,
 969,
 972,
 973,
 976,
 978,
 985,
 988,
 990,
 992,
 995,
 997,
 998,
 1000,
 1006,
 1007,
 1008,
 1011,
 1012,
 1016,
 1021,
 1028,
 1029,
 1031,
 1034,
 1036,
 1038,
 1040,
 1041,
 1046,
 1047,
 1048,
 1049,
 1053,
 1058,
 1060,
 1061,
 1062,
 1063,
 1065,
 1066,
 1068,
 1072,
 1078,
 1083,
 1084,
 1085,
 1087,
 1103,
 1105,
 1108,
 1109,
 1111,
 1116,
 1129,
 1130,
 1131,
 1138,
 1139,
 1140,
 1141,
 1142,
 1143,
 1149,
 1151,
 1156,
 1160,
 1162,
 1164,
 1165,
 1169,
 1171,
 1175,
 1179,
 1189,
 1191,
 1194,
 1195,
 1197,
 1201,
 1208,
 1234,
 1237,
 1244,
 1252,
 1253,
 1255,
 1258,
 1260,
 1262,
 1267,
 1269,
 1274,
 1275,
 1277,
 1282,
 1285,
 1294,
 1301,
 1311,
 1313,
 1314,
 1316,
 1320,
 1329,
 1354,
 1355,
 1368,
 1373,
 1375,
 1379,
 1387,
 1407,
 1408,
 1410,
 1417,
 1423,
 1433,
 1439,
 1442,
 1443,
 1445,
 1447,
 1457,
 1462,
 1464,
 1468,
 1476,
 1485,
 1492,
 1508,
 1519,
 1526,
 1531,
 1541,
 1562,
 1564,
 1568,
 1569,
 1572,
 1574,
 1575,
 1581,
 1585,
 1591,
 1592,
 1593,
 1594,
 1597,
 1598,
 1605,
 1615,
 1638,
 1640,
 1653,
 1656,
 1659,
 1663,
 1666,
 1678,
 1686,
 1694,
 1712,
 1713,
 1716,
 1719,
 1723,
 1726,
 1738,
 1747,
 1760,
 1793,
 1831,
 1832,
 1856,
 1867,
 1888,
 1897,
 1902,
 1906,
 1908,
 1920,
 1949,
 1950,
 1959,
 1961,
 1968,
 1972,
 1992,
 2040,
 2078,
 2091,
 2142,
 2143,
 2163,
 2183,
 2197,
 2208,
 2229,
 2238,
 2242,
 2282,
 2288,
 2299,
 2312,
 2325,
 2370,
 2415,
 2420,
 2440,
 2463,
 2489,
 2499,
 2521,
 2590,
 2620,
 2651,
 2701,
 2702,
 2712,
 2725,
 2824,
 2827,
 2875,
 2893,
 2987,
 2992,
 3005,
 3057,
 3073,
 3083,
 3112,
 3215,
 3257,
 3473,
 3546,
 3722,
 3802,
 3804,
 3813,
 3968,
 4199,
 4258,
 4309,
 4533,
 4589,
 4620,
 4669,
 4697,
 4704,
 4785,
 4835,
 5056,
 5092,
 5109,
 5120,
 5277,
 5284,
 5286,
 5771,
 5792,
 5851,
 5860,
 5958,
 6018,
 6474,
 6489,
 6501,
 6766,
 6950,
 7103,
 7181,
 7353,
 7471,
 7490,
 7511,
 7543,
 7573,
 7710,
 7975,
 7996,
 8089,
 8141,
 8158,
 8183,
 8253,
 8312,
 8446,
 8569,
 8673,
 8690,
 8775,
 8864,
 8892,
 9053,
 9177,
 9358,
 9445,
 9495,
 9536,
 9663,
 9695,
 9798}

In [13]:
sumit = 0
for i in number_of_rows:
    sumit += i
    
print(sumit)

1098154

In [3]:
listinn = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

cunk = 6

for i in range(0,len(listinn), cunk):
    cunk_list = listinn[i:i+cunk]
    print(cunk_list)

[1, 2, 3, 4, 5, 6]
[7, 8, 9, 10, 11, 12]
[13, 14, 15]


# ---------------------------------- MERGE

In [ ]:
# path of the folder with all the csv files
input_folder = r'D:\Thesis\Properties\Denmark\RE_due_scraping_properties\Boligsiden_dk\Step_1_Scrape_JSON_to_table\data'

# path of the outputfile - with all the tables merged
output = r'D:\Thesis\Properties\Denmark\RE_due_scraping_properties\Boligsiden_dk\Step_2_Merge\Boligsiden_dk_merged_step2.csv'

# collect all the csv files in the folder of the input_folder path
csv_files = [f for f in os.listdir(input_folder) if f.endswith('.csv')]

# the dataframe that will collect all tables
merged_data = pd.DataFrame()

counter = 0

for csv_file in csv_files:
    counter +=1
    
    print(f'########################## file nr. {counter} out of 704 ######################')
    print(csv_file)
    print('################################################################################')
    
    #get full path
    file_path = os.path.join(input_folder, csv_file)
    
    # read in the csv file
    df = pd.read_csv(file_path, encoding='utf-8', low_memory=False)
    
    print('**data on csv file :**')
    
    # computing number of columns
    cols = len(df.axes[1])
    print(f'----------------- Number of columns csv file: {cols}')
    print()
    
    # computing number of rows
    rows = len(df.axes[0])
    print(f'----------------- Number of rows csv file: {rows}')
    
    # merge the df to the main dataframe
    merged_data = pd.concat([merged_data, df], ignore_index=True)
    
    print('**Data on MAIN dataframe: **')
    # computing number of columns
    cols = len(merged_data.axes[1])
    print(f'----------------- Number of columns csv file: {cols}')
    print()
    
    # computing number of rows
    rows = len(merged_data.axes[0])
    print(f'----------------- Number of rows csv file: {rows}')
    print()

# Save the main dataframe
merged_data.to_csv(output, encoding="utf-8", index=False)

In [18]:
merged_data

,_links,addressID,addressType,allowNewValuationInfo,buildings,cases,city,cityName,coordinates,daysOnMarket,...,roadName,slug,weightedArea,zip,zipCode,latestSoldCaseDescription,place,placeName,floor,door
0,{'self': {'href': '/addresses/0a3f509e-8ea0-32...,0a3f509e-8ea0-32b8-e044-0003ba298018,villa,True,"[{'basementArea': 56, 'bathroomCondition': 'Ba...",NaN,"{'name': 'Brønshøj', 'slug': 'broenshoej'}",Brønshøj,"{'lat': 55.710346, 'lon': 12.507639, 'type': '...",{'realtors': []},...,Hareskovvej,hareskovvej-68-2700-broenshoej-01012644__68___...,142.70,"{'name': 'Brønshøj', 'slug': 'broenshoej', 'zi...",2700,NaN,NaN,NaN,NaN,NaN
1,{'self': {'href': '/addresses/0a3f509e-d0bd-32...,0a3f509e-d0bd-32b8-e044-0003ba298018,villa,True,"[{'basementArea': 55, 'bathroomCondition': 'Ba...",NaN,"{'name': 'Brønshøj', 'slug': 'broenshoej'}",Brønshøj,"{'lat': 55.70982, 'lon': 12.4959755, 'type': '...",{'realtors': []},...,Hvedevej,hvedevej-31-2700-broenshoej-01013108__31_______,168.05,"{'name': 'Brønshøj', 'slug': 'broenshoej', 'zi...",2700,NaN,NaN,NaN,NaN,NaN
2,{'self': {'href': '/addresses/0a3f50a1-83f6-32...,0a3f50a1-83f6-32b8-e044-0003ba298018,villa,True,[{'bathroomCondition': 'Badeværelse i enheden'...,NaN,"{'name': 'København S', 'slug': 'koebenhavn-s'}",København S,"{'lat': 55.642254, 'lon': 12.597395, 'type': '...",{'realtors': []},...,Vejlands Allé,vejlands-alle-115-2300-koebenhavn-s-01018128_1...,152.80,"{'name': 'København S', 'slug': 'koebenhavn-s'...",2300,{'body': 'Villa med sjæl og muligheder for fam...,NaN,NaN,NaN,NaN
3,{'self': {'href': '/addresses/0a3f509d-f8e0-32...,0a3f509d-f8e0-32b8-e044-0003ba298018,villa,True,"[{'basementArea': 63, 'bathroomCondition': 'Ba...",NaN,"{'name': 'København S', 'slug': 'koebenhavn-s'}",København S,"{'lat': 55.64579, 'lon': 12.609326, 'type': 'E...",{'realtors': []},...,Erantisvej,erantisvej-2-2300-koebenhavn-s-01011632___2___...,133.90,"{'name': 'København S', 'slug': 'koebenhavn-s'...",2300,{'body': 'Vi har nu fornøjelsen af at præsente...,NaN,NaN,NaN,NaN
4,{'self': {'href': '/addresses/646aa312-12a8-44...,646aa312-12a8-448c-ad84-04a22d3c900e,villa,True,[{'bathroomCondition': 'Badeværelse i enheden'...,NaN,"{'name': 'København SV', 'slug': 'koebenhavn-sv'}",København SV,"{'lat': 55.64626, 'lon': 12.534798, 'type': 'E...",{'realtors': []},...,Hf. Frederikshøj,hf.-frederikshoej-264-2450-koebenhavn-sv-01019...,90.00,"{'name': 'København SV', 'slug': 'koebenhavn-s...",2450,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1098149,{'self': {'href': '/addresses/d3c2d5a7-fa10-44...,d3c2d5a7-fa10-4495-aba7-d115813e81b1,terraced house,True,[{'bathroomCondition': 'Badeværelse i enheden'...,NaN,"{'name': 'Læsø', 'slug': 'laesoe'}",Læsø,"{'lat': 57.319504, 'lon': 11.128444, 'type': '...",{'realtors': []},...,Mågevej,maagevej-4-th-9940-laesoe-08250213___4_____th,NaN,"{'name': 'Læsø', 'slug': 'laesoe', 'zipCode': ...",9940,NaN,"{'bbox': [11.113238, 57.31142, 11.139432, 57.3...",Østerby Havn,NaN,th
1098150,{'self': {'href': '/addresses/6d28747d-edd7-45...,6d28747d-edd7-4576-8b0b-9a06b7ff3a92,terraced house,True,[{'bathroomCondition': 'Badeværelse i enheden'...,NaN,"{'name': 'Læsø', 'slug': 'laesoe'}",Læsø,"{'lat': 57.319504, 'lon': 11.128444, 'type': '...",{'realtors': []},...,Mågevej,maagevej-4-tv-9940-laesoe-08250213___4_____tv,NaN,"{'name': 'Læsø', 'slug': 'laesoe', 'zipCode': ...",9940,NaN,"{'bbox': [11.113238, 57.31142, 11.139432, 57.3...",Østerby Havn,NaN,tv
1098151,{'self': {'href': '/addresses/0a3f50c8-7b5d-32...,0a3f50c8-7b5d-32b8-e044-0003ba298018,terraced house,True,[{'bathroomCondition': 'Badeværelse i enheden'...,NaN,"{'name': 'Læsø', 'slug': 'laesoe'}",Læsø,"{'lat': 57.253036, 'lon': 11.003742, 'type': '...",{'realtors': []},...,Skolevej,skolevej-2-0-2-9940-laesoe-08250282___2_st___2,NaN,"{'name': 'Læsø', 'slug': 'laesoe', 'zipCode': ...",9940,NaN,"{'bbox': [10.938116, 57.219635, 11.118951, 57....",Byrum,0.0,2
1098152,{'self': {'href': '/addresses/0a3f50c8-7b5e-32...,0a3f50c8-7b5e-32b8-e044-0003ba298018,terraced house,True,[{'bathroomCondition': 'Badeværelse i enheden'...,NaN,"{'name': 'Læsø', 'slug': 'laesoe'}",Læsø,"{'lat': 57.253036, 'lon': 11.003742, 'type': '...",{'realtors': []},...,Skolevej,skolevej-2-0-3-9940-laesoe-08250282___2_st___3,NaN,"{'name': 'Læsø', 'slug': 'laesoe', 'zipCode': ...",9940,NaN,"{'bbox': [10.938116, 57.219635, 11.118951, 57....",Byrum,0.0,3
1098153,{'self': {'href': '/addresses/0a3f50c8-7b5c-32...,0a3f50c8-7b5c-32b8-e044-0003ba298018,terraced house,True,[{'bathroomCondition': 'Badeværelse i enheden'...,NaN,"{'name': 'Læsø', 'slug': 'laesoe'}",Læsø,"{'lat': 57.253036, 'lon': 11.003742, 'type': '...",{'realtors': []},...,Skolevej,skolevej-2-0-1-9940-laesoe-08250282___2_st___1,NaN,"{'name': 'Læsø', 'slug': 'laesoe', 'zipCode': ...",9940,NaN,"{'bbox': [10.938116, 57.219635, 11.118951, 57....",Byrum,0.0,1

In [20]:
# Check for duplicate rows
duplicates = merged_data.duplicated()
count_of_duplicates = duplicates.sum()
print("Count of duplicate rows:", count_of_duplicates)

Count of duplicate rows: 158749

In [21]:
1098154-158749

939405

# save dublicates as csv

In [22]:
output = r'D:\Thesis\Properties\Denmark\RE_due_scraping_properties\Boligsiden_dk\Step_2_Merge\Boligsiden_dk_step2_table_of_dublicated_rows.csv'

# Find duplicate rows
duplicates = merged_data.duplicated(keep=False)

# Filter duplicate rows
duplicate_rows = merged_data[duplicates]

# Save duplicate rows as CSV
duplicate_rows.to_csv(output, index=False, encoding="utf-8")

NameError: name 'output_csv_file' is not defined

In [24]:
merged_data[merged_data.duplicated(keep=False)]

,_links,addressID,addressType,allowNewValuationInfo,buildings,cases,city,cityName,coordinates,daysOnMarket,...,roadName,slug,weightedArea,zip,zipCode,latestSoldCaseDescription,place,placeName,floor,door
3,{'self': {'href': '/addresses/0a3f509d-f8e0-32...,0a3f509d-f8e0-32b8-e044-0003ba298018,villa,True,"[{'basementArea': 63, 'bathroomCondition': 'Ba...",NaN,"{'name': 'København S', 'slug': 'koebenhavn-s'}",København S,"{'lat': 55.64579, 'lon': 12.609326, 'type': 'E...",{'realtors': []},...,Erantisvej,erantisvej-2-2300-koebenhavn-s-01011632___2___...,133.90,"{'name': 'København S', 'slug': 'koebenhavn-s'...",2300,{'body': 'Vi har nu fornøjelsen af at præsente...,NaN,NaN,NaN,NaN
8,{'self': {'href': '/addresses/0a3f509f-c73b-32...,0a3f509f-c73b-32b8-e044-0003ba298018,villa,True,[{'bathroomCondition': 'Badeværelse i enheden'...,NaN,"{'name': 'København S', 'slug': 'koebenhavn-s'}",København S,"{'lat': 55.63538, 'lon': 12.589413, 'type': 'E...",{'realtors': []},...,Nebraskavej,nebraskavej-8-2300-koebenhavn-s-01014960___8__...,128.20,"{'name': 'København S', 'slug': 'koebenhavn-s'...",2300,NaN,NaN,NaN,NaN,NaN
9,{'self': {'href': '/addresses/0a3f50a1-ba92-32...,0a3f50a1-ba92-32b8-e044-0003ba298018,villa,True,[{'bathroomCondition': 'Badeværelse i enheden'...,NaN,"{'name': 'København S', 'slug': 'koebenhavn-s'}",København S,"{'lat': 55.641476, 'lon': 12.6051, 'type': 'EP...",{'realtors': []},...,Windsorvej,windsorvej-15-2300-koebenhavn-s-01018376__15__...,149.70,"{'name': 'København S', 'slug': 'koebenhavn-s'...",2300,{'body': 'Skøn villa fra 1979 opført i 1-plan ...,NaN,NaN,NaN,NaN
10,{'self': {'href': '/addresses/0a3f50a2-0333-32...,0a3f50a2-0333-32b8-e044-0003ba298018,villa,True,[{'bathroomCondition': 'Badeværelse i enheden'...,NaN,"{'name': 'København S', 'slug': 'koebenhavn-s'}",København S,"{'lat': 55.637226, 'lon': 12.592223, 'type': '...",{'realtors': []},...,Hf. Elmebo,hf.-elmebo-10-2300-koebenhavn-s-01019096__10__...,103.50,"{'name': 'København S', 'slug': 'koebenhavn-s'...",2300,NaN,NaN,NaN,NaN,NaN
11,{'self': {'href': '/addresses/0a3f50a0-0b25-32...,0a3f50a0-0b25-32b8-e044-0003ba298018,villa,True,"[{'basementArea': 98, 'bathroomCondition': 'Ba...",NaN,"{'name': 'Valby', 'slug': 'valby'}",Valby,"{'lat': 55.665253, 'lon': 12.499009, 'type': '...",{'realtors': []},...,Overbys Allé,overbys-alle-36-2500-valby-01015356__36_______,265.70,"{'name': 'Valby', 'slug': 'valby', 'zipCode': ...",2500,{'body': 'Liebhaverdrømme i Valby Nye Villakva...,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1092199,{'self': {'href': '/addresses/0a3f50b3-0d97-32...,0a3f50b3-0d97-32b8-e044-0003ba298018,villa,True,"[{'basementArea': 5, 'bathroomCondition': 'Bad...",NaN,"{'name': 'Marstal', 'slug': 'marstal'}",Marstal,"{'lat': 54.855488, 'lon': 10.517355, 'type': '...",{'realtors': []},...,Kirkestræde,kirkestraede-3-5960-marstal-04920128___3_______,68.15,"{'name': 'Marstal', 'slug': 'marstal', 'zipCod...",5960,NaN,"{'bbox': [10.511027, 54.84288, 10.524109, 54.8...",Marstal,NaN,NaN
1094301,{'self': {'href': '/addresses/de3e70b0-ea20-44...,de3e70b0-ea20-44b7-b49e-9d3e658559de,condo,True,"[{'basementArea': 20, 'bathroomCondition': 'Ba...",NaN,"{'name': 'Marstal', 'slug': 'marstal'}",Marstal,"{'lat': 54.860767, 'lon': 10.51661, 'type': 'E...",{'realtors': []},...,Rolighedsvej,rolighedsvej-2-0-4-5960-marstal-04920234___2_s...,NaN,"{'name': 'Marstal', 'slug': 'marstal', 'zipCod...",5960,NaN,NaN,NaN,0.0,4
1094302,{'self': {'href': '/addresses/de3e70b0-ea20-44...,de3e70b0-ea20-44b7-b49e-9d3e658559de,condo,True,"[{'basementArea': 20, 'bathroomCondition': 'Ba...",NaN,"{'name': 'Marstal', 'slug': 'marstal'}",Marstal,"{'lat': 54.860767, 'lon': 10.51661, 'type': 'E...",{'realtors': []},...,Rolighedsvej,rolighedsvej-2-0-4-5960-marstal-04920234___2_s...,NaN,"{'name': 'Marstal', 'slug': 'marstal', 'zipCod...",5960,NaN,NaN,NaN,0.0,4
1095718,{'self': {'href': '/addresses/0a3f50c1-aa34-32...,0a3f50c1-aa34-32b8-e044-0003ba298018,villa,True,[{'bathroomCondition': 'Badeværelse i enheden'...,NaN,"{'name': 'Samsø', 'slug': 'samsoe'}",Samsø,"{'lat': 55.96139, 'lon': 10.552855, 'type': 'E...",{'realtors': []},...,Møllegaardsvej,moellegaardsvej-2-8305-samsoe-07410457___2_______,118.20,"{'name': 'Samsø', 'slug': 'samsoe', 'zipCode':...",8305,NaN,"{'bbox': [10.519058, 55.94449, 10.5799885, 56....",Nordby,NaN,NaN
1095719,{'self': {'href': '/addresses/0a3f50c1-aa34-32...,0a3f50c1-aa34-32b8-e044-0003ba298018,villa,True,[{'bathroomCondition': 'Badeværelse i enheden'...,NaN,"{'name': 'Samsø', 'slug': 'samsoe'}",Samsø,"{'lat': 55.96139, 'lon': 10.552855, 'type': 'E...",{'realtors': []},...,Møllegaardsvej,moellegaardsvej-2-8305-samsoe-07410457___2_______,118.20,"{'name': 'Samsø', 'slug': 'samsoe', 'zipCode':...",8305,NaN,"{'bbox': [10.519058, 55.94449, 10.5799885, 56....",Nordby,NaN,NaN

In [25]:
1098154-277684

820470

# --------------------------- REMOVE DUBLICATED ROWS

In [28]:
# SAVE as csv
output = r'D:\Thesis\Properties\Denmark\RE_due_scraping_properties\Boligsiden_dk\Step_2_Merge_remove_dublicates\Boligsiden_dk_step2_Dublicates_removed.csv'
merged_data_no_duplicates.to_csv(output, index=False, encoding="utf-8")

In [26]:
# Remove duplicate rows
merged_data_no_duplicates = merged_data.drop_duplicates()

# SAVE as csv
output = r'D:\Thesis\Properties\Denmark\RE_due_scraping_properties\Boligsiden_dk\Step_2_Merge_remove_dublicates\Boligsiden_dk_step2_Dublicates_removed.csv'
merged_data_no_duplicates.to_csv(output, index=False, encoding="utf-8")

merged_data_no_duplicates

,_links,addressID,addressType,allowNewValuationInfo,buildings,cases,city,cityName,coordinates,daysOnMarket,...,roadName,slug,weightedArea,zip,zipCode,latestSoldCaseDescription,place,placeName,floor,door
0,{'self': {'href': '/addresses/0a3f509e-8ea0-32...,0a3f509e-8ea0-32b8-e044-0003ba298018,villa,True,"[{'basementArea': 56, 'bathroomCondition': 'Ba...",NaN,"{'name': 'Brønshøj', 'slug': 'broenshoej'}",Brønshøj,"{'lat': 55.710346, 'lon': 12.507639, 'type': '...",{'realtors': []},...,Hareskovvej,hareskovvej-68-2700-broenshoej-01012644__68___...,142.70,"{'name': 'Brønshøj', 'slug': 'broenshoej', 'zi...",2700,NaN,NaN,NaN,NaN,NaN
1,{'self': {'href': '/addresses/0a3f509e-d0bd-32...,0a3f509e-d0bd-32b8-e044-0003ba298018,villa,True,"[{'basementArea': 55, 'bathroomCondition': 'Ba...",NaN,"{'name': 'Brønshøj', 'slug': 'broenshoej'}",Brønshøj,"{'lat': 55.70982, 'lon': 12.4959755, 'type': '...",{'realtors': []},...,Hvedevej,hvedevej-31-2700-broenshoej-01013108__31_______,168.05,"{'name': 'Brønshøj', 'slug': 'broenshoej', 'zi...",2700,NaN,NaN,NaN,NaN,NaN
2,{'self': {'href': '/addresses/0a3f50a1-83f6-32...,0a3f50a1-83f6-32b8-e044-0003ba298018,villa,True,[{'bathroomCondition': 'Badeværelse i enheden'...,NaN,"{'name': 'København S', 'slug': 'koebenhavn-s'}",København S,"{'lat': 55.642254, 'lon': 12.597395, 'type': '...",{'realtors': []},...,Vejlands Allé,vejlands-alle-115-2300-koebenhavn-s-01018128_1...,152.80,"{'name': 'København S', 'slug': 'koebenhavn-s'...",2300,{'body': 'Villa med sjæl og muligheder for fam...,NaN,NaN,NaN,NaN
3,{'self': {'href': '/addresses/0a3f509d-f8e0-32...,0a3f509d-f8e0-32b8-e044-0003ba298018,villa,True,"[{'basementArea': 63, 'bathroomCondition': 'Ba...",NaN,"{'name': 'København S', 'slug': 'koebenhavn-s'}",København S,"{'lat': 55.64579, 'lon': 12.609326, 'type': 'E...",{'realtors': []},...,Erantisvej,erantisvej-2-2300-koebenhavn-s-01011632___2___...,133.90,"{'name': 'København S', 'slug': 'koebenhavn-s'...",2300,{'body': 'Vi har nu fornøjelsen af at præsente...,NaN,NaN,NaN,NaN
4,{'self': {'href': '/addresses/646aa312-12a8-44...,646aa312-12a8-448c-ad84-04a22d3c900e,villa,True,[{'bathroomCondition': 'Badeværelse i enheden'...,NaN,"{'name': 'København SV', 'slug': 'koebenhavn-sv'}",København SV,"{'lat': 55.64626, 'lon': 12.534798, 'type': 'E...",{'realtors': []},...,Hf. Frederikshøj,hf.-frederikshoej-264-2450-koebenhavn-sv-01019...,90.00,"{'name': 'København SV', 'slug': 'koebenhavn-s...",2450,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1098149,{'self': {'href': '/addresses/d3c2d5a7-fa10-44...,d3c2d5a7-fa10-4495-aba7-d115813e81b1,terraced house,True,[{'bathroomCondition': 'Badeværelse i enheden'...,NaN,"{'name': 'Læsø', 'slug': 'laesoe'}",Læsø,"{'lat': 57.319504, 'lon': 11.128444, 'type': '...",{'realtors': []},...,Mågevej,maagevej-4-th-9940-laesoe-08250213___4_____th,NaN,"{'name': 'Læsø', 'slug': 'laesoe', 'zipCode': ...",9940,NaN,"{'bbox': [11.113238, 57.31142, 11.139432, 57.3...",Østerby Havn,NaN,th
1098150,{'self': {'href': '/addresses/6d28747d-edd7-45...,6d28747d-edd7-4576-8b0b-9a06b7ff3a92,terraced house,True,[{'bathroomCondition': 'Badeværelse i enheden'...,NaN,"{'name': 'Læsø', 'slug': 'laesoe'}",Læsø,"{'lat': 57.319504, 'lon': 11.128444, 'type': '...",{'realtors': []},...,Mågevej,maagevej-4-tv-9940-laesoe-08250213___4_____tv,NaN,"{'name': 'Læsø', 'slug': 'laesoe', 'zipCode': ...",9940,NaN,"{'bbox': [11.113238, 57.31142, 11.139432, 57.3...",Østerby Havn,NaN,tv
1098151,{'self': {'href': '/addresses/0a3f50c8-7b5d-32...,0a3f50c8-7b5d-32b8-e044-0003ba298018,terraced house,True,[{'bathroomCondition': 'Badeværelse i enheden'...,NaN,"{'name': 'Læsø', 'slug': 'laesoe'}",Læsø,"{'lat': 57.253036, 'lon': 11.003742, 'type': '...",{'realtors': []},...,Skolevej,skolevej-2-0-2-9940-laesoe-08250282___2_st___2,NaN,"{'name': 'Læsø', 'slug': 'laesoe', 'zipCode': ...",9940,NaN,"{'bbox': [10.938116, 57.219635, 11.118951, 57....",Byrum,0.0,2
1098152,{'self': {'href': '/addresses/0a3f50c8-7b5e-32...,0a3f50c8-7b5e-32b8-e044-0003ba298018,terraced house,True,[{'bathroomCondition': 'Badeværelse i enheden'...,NaN,"{'name': 'Læsø', 'slug': 'laesoe'}",Læsø,"{'lat': 57.253036, 'lon': 11.003742, 'type': '...",{'realtors': []},...,Skolevej,skolevej-2-0-3-9940-laesoe-08250282___2_st___3,NaN,"{'name': 'Læsø', 'slug': 'laesoe', 'zipCode': ...",9940,NaN,"{'bbox': [10.938116, 57.219635, 11.118951, 57....",Byrum,0.0,3
1098153,{'self': {'href': '/addresses/0a3f50c8-7b5c-32...,0a3f50c8-7b5c-32b8-e044-0003ba298018,terraced house,True,[{'bathroomCondition': 'Badeværelse i enheden'...,NaN,"{'name': 'Læsø', 'slug': 'laesoe'}",Læsø,"{'lat': 57.253036, 'lon': 11.003742, 'type': '...",{'realtors': []},...,Skolevej,skolevej-2-0-1-9940-laesoe-08250282___2_st___1,NaN,"{'name': 'Læsø', 'slug': 'laesoe', 'zipCode': ...",9940,NaN,"{'bbox': [10.938116, 57.219635, 11.118951, 57....",Byrum,0.0,1

# ------------------ REMOVE Rows that are empty in colum "buildings"
because they dont have any info on the characteristics of the property

In [30]:
merged_data_no_duplicates['buildings'].isna().sum()

3771

In [33]:
merged_data_no_duplicates_noBuildings_removed = merged_data_no_duplicates.dropna(subset=['buildings'])

# save file
# SAVE as csv
output = r'D:\Thesis\Properties\Denmark\RE_due_scraping_properties\Boligsiden_dk\Step_2_Merge_remove_dublicates\Boligsiden_dk_step2_Final.csv'
merged_data_no_duplicates_noBuildings_removed.to_csv(output, index=False, encoding="utf-8")


merged_data_no_duplicates_noBuildings_removed

,_links,addressID,addressType,allowNewValuationInfo,buildings,cases,city,cityName,coordinates,daysOnMarket,...,roadName,slug,weightedArea,zip,zipCode,latestSoldCaseDescription,place,placeName,floor,door
0,{'self': {'href': '/addresses/0a3f509e-8ea0-32...,0a3f509e-8ea0-32b8-e044-0003ba298018,villa,True,"[{'basementArea': 56, 'bathroomCondition': 'Ba...",NaN,"{'name': 'Brønshøj', 'slug': 'broenshoej'}",Brønshøj,"{'lat': 55.710346, 'lon': 12.507639, 'type': '...",{'realtors': []},...,Hareskovvej,hareskovvej-68-2700-broenshoej-01012644__68___...,142.70,"{'name': 'Brønshøj', 'slug': 'broenshoej', 'zi...",2700,NaN,NaN,NaN,NaN,NaN
1,{'self': {'href': '/addresses/0a3f509e-d0bd-32...,0a3f509e-d0bd-32b8-e044-0003ba298018,villa,True,"[{'basementArea': 55, 'bathroomCondition': 'Ba...",NaN,"{'name': 'Brønshøj', 'slug': 'broenshoej'}",Brønshøj,"{'lat': 55.70982, 'lon': 12.4959755, 'type': '...",{'realtors': []},...,Hvedevej,hvedevej-31-2700-broenshoej-01013108__31_______,168.05,"{'name': 'Brønshøj', 'slug': 'broenshoej', 'zi...",2700,NaN,NaN,NaN,NaN,NaN
2,{'self': {'href': '/addresses/0a3f50a1-83f6-32...,0a3f50a1-83f6-32b8-e044-0003ba298018,villa,True,[{'bathroomCondition': 'Badeværelse i enheden'...,NaN,"{'name': 'København S', 'slug': 'koebenhavn-s'}",København S,"{'lat': 55.642254, 'lon': 12.597395, 'type': '...",{'realtors': []},...,Vejlands Allé,vejlands-alle-115-2300-koebenhavn-s-01018128_1...,152.80,"{'name': 'København S', 'slug': 'koebenhavn-s'...",2300,{'body': 'Villa med sjæl og muligheder for fam...,NaN,NaN,NaN,NaN
3,{'self': {'href': '/addresses/0a3f509d-f8e0-32...,0a3f509d-f8e0-32b8-e044-0003ba298018,villa,True,"[{'basementArea': 63, 'bathroomCondition': 'Ba...",NaN,"{'name': 'København S', 'slug': 'koebenhavn-s'}",København S,"{'lat': 55.64579, 'lon': 12.609326, 'type': 'E...",{'realtors': []},...,Erantisvej,erantisvej-2-2300-koebenhavn-s-01011632___2___...,133.90,"{'name': 'København S', 'slug': 'koebenhavn-s'...",2300,{'body': 'Vi har nu fornøjelsen af at præsente...,NaN,NaN,NaN,NaN
4,{'self': {'href': '/addresses/646aa312-12a8-44...,646aa312-12a8-448c-ad84-04a22d3c900e,villa,True,[{'bathroomCondition': 'Badeværelse i enheden'...,NaN,"{'name': 'København SV', 'slug': 'koebenhavn-sv'}",København SV,"{'lat': 55.64626, 'lon': 12.534798, 'type': 'E...",{'realtors': []},...,Hf. Frederikshøj,hf.-frederikshoej-264-2450-koebenhavn-sv-01019...,90.00,"{'name': 'København SV', 'slug': 'koebenhavn-s...",2450,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1098149,{'self': {'href': '/addresses/d3c2d5a7-fa10-44...,d3c2d5a7-fa10-4495-aba7-d115813e81b1,terraced house,True,[{'bathroomCondition': 'Badeværelse i enheden'...,NaN,"{'name': 'Læsø', 'slug': 'laesoe'}",Læsø,"{'lat': 57.319504, 'lon': 11.128444, 'type': '...",{'realtors': []},...,Mågevej,maagevej-4-th-9940-laesoe-08250213___4_____th,NaN,"{'name': 'Læsø', 'slug': 'laesoe', 'zipCode': ...",9940,NaN,"{'bbox': [11.113238, 57.31142, 11.139432, 57.3...",Østerby Havn,NaN,th
1098150,{'self': {'href': '/addresses/6d28747d-edd7-45...,6d28747d-edd7-4576-8b0b-9a06b7ff3a92,terraced house,True,[{'bathroomCondition': 'Badeværelse i enheden'...,NaN,"{'name': 'Læsø', 'slug': 'laesoe'}",Læsø,"{'lat': 57.319504, 'lon': 11.128444, 'type': '...",{'realtors': []},...,Mågevej,maagevej-4-tv-9940-laesoe-08250213___4_____tv,NaN,"{'name': 'Læsø', 'slug': 'laesoe', 'zipCode': ...",9940,NaN,"{'bbox': [11.113238, 57.31142, 11.139432, 57.3...",Østerby Havn,NaN,tv
1098151,{'self': {'href': '/addresses/0a3f50c8-7b5d-32...,0a3f50c8-7b5d-32b8-e044-0003ba298018,terraced house,True,[{'bathroomCondition': 'Badeværelse i enheden'...,NaN,"{'name': 'Læsø', 'slug': 'laesoe'}",Læsø,"{'lat': 57.253036, 'lon': 11.003742, 'type': '...",{'realtors': []},...,Skolevej,skolevej-2-0-2-9940-laesoe-08250282___2_st___2,NaN,"{'name': 'Læsø', 'slug': 'laesoe', 'zipCode': ...",9940,NaN,"{'bbox': [10.938116, 57.219635, 11.118951, 57....",Byrum,0.0,2
1098152,{'self': {'href': '/addresses/0a3f50c8-7b5e-32...,0a3f50c8-7b5e-32b8-e044-0003ba298018,terraced house,True,[{'bathroomCondition': 'Badeværelse i enheden'...,NaN,"{'name': 'Læsø', 'slug': 'laesoe'}",Læsø,"{'lat': 57.253036, 'lon': 11.003742, 'type': '...",{'realtors': []},...,Skolevej,skolevej-2-0-3-9940-laesoe-08250282___2_st___3,NaN,"{'name': 'Læsø', 'slug': 'laesoe', 'zipCode': ...",9940,NaN,"{'bbox': [10.938116, 57.219635, 11.118951, 57....",Byrum,0.0,3
1098153,{'self': {'href': '/addresses/0a3f50c8-7b5c-32...,0a3f50c8-7b5c-32b8-e044-0003ba298018,terraced house,True,[{'bathroomCondition': 'Badeværelse i enheden'...,NaN,"{'name': 'Læsø', 'slug': 'laesoe'}",Læsø,"{'lat': 57.253036, 'lon': 11.003742, 'type': '...",{'realtors': []},...,Skolevej,skolevej-2-0-1-9940-laesoe-08250282___2_st___1,NaN,"{'name': 'Læsø', 'slug': 'laesoe', 'zipCode': ...",9940,NaN,"{'bbox': [10.938116, 57.219635, 11.118951, 57....",Byrum,0.0,1

In [32]:
939405-3771

935634

# _______________ STATS on the data below _______________________

# -------------- Count the number of NORMAL sales for each property 
## (regardless of the year of sale)

In [61]:
import ast

############### COUNT NUMBER OF NORMAL SALES IN THE 935634 PROPERTIES

print_number = 0
count_normal_sales = 0

sales_record = merged_data_no_duplicates_noBuildings_removed['registrations']

for row in sales_record:
    dictionary = ast.literal_eval(row)
    
    for sales in dictionary:
        sales_type = sales['type']
        
        if sales_type == 'normal':
            count_normal_sales +=1
            print_number +=1 
            
            if print_number == 15850:
                print(count_normal_sales)
                print_number = 0

print(f'Number of sales classified Normal: {count_normal_sales}')

15850
31700
47550
63400
79250
95100
110950
126800
142650
158500
174350
190200
206050
221900
237750
253600
269450
285300
301150
317000
332850
348700
364550
380400
396250
412100
427950
443800
459650
475500
491350
507200
523050
538900
554750
570600
586450
602300
618150
634000
649850
665700
681550
697400
713250
729100
744950
760800
776650
792500
808350
824200
840050
855900
871750
887600
903450
919300
935150
951000
966850
982700
998550
1014400
1030250
1046100
1061950
1077800
1093650
1109500
1125350
1141200
1157050
1172900
1188750
1204600
1220450
1236300
1252150
1268000
1283850
1299700
1315550
1331400
1347250
1363100
1378950
1394800
1410650
1426500
1442350
1458200
1474050
1489900
1505750
1521600
1537450
1553300
1569150
1585000
1600850
1616700
1632550
1648400
1664250
1680100
1695950
1711800
1727650
1743500
1759350
1775200
1791050
1806900
1822750
1838600
1854450
1870300
1886150
1902000
1917850
1933700
1949550
1965400
1981250
1997100
2012950
2028800
2044650
2060500
2076350
2092200
Number of sales classified Normal: 2093622

In [67]:
print('###############################')
print(f'Average number of sales per property: {2093622/935634}')
print('###############################')

print(f'which means that the total number of transactions is: 2.093.622')

###############################
Average number of sales per property: 2.237650619793637
###############################
which means that the total number of transactions is: 2.093.622

# -------------- Count the number of NORMAL sales for each property 
## (With respect to the date of the sale)

In [90]:
import ast
import datetime as dt

############### COUNT NUMBER OF NORMAL SALES IN THE 935634 PROPERTIES

print_number = 0
count_normal_sales = 0

sales_record = merged_data_no_duplicates_noBuildings_removed['registrations']

for row in sales_record:
    dictionary = ast.literal_eval(row)
    
    for sales in dictionary:
        
        if sales['type'] == 'normal':            
            # check date year
            # create date time object
            datetime = dt.datetime.strptime(sales['date'], "%Y-%m-%d") # "%d-%m-%Y")
            # convert to only date - year month and day
            date_obj = datetime.date()

            if date_obj.year > 2011:
                count_normal_sales +=1
                print_number +=1 
                
                if print_number == 15850:
                    print(count_normal_sales)
                    print_number = 0

print(f'Number of sales classified Normal and registered between 2012-2023: {count_normal_sales}')

15850
31700
47550
63400
79250
95100
110950
126800
142650
158500
174350
190200
206050
221900
237750
253600
269450
285300
301150
317000
332850
348700
364550
380400
396250
412100
427950
443800
459650
475500
491350
507200
523050
538900
554750
570600
586450
602300
618150
634000
649850
665700
681550
697400
713250
729100
744950
760800
776650
792500
808350
824200
840050
Number of sales classified Normal and registered between 2012-2023: 855860

In [95]:
print('###############################')
print(f'Total number of "normal" sales between 2012-2023: 855.860')
print('###############################')

print(f'BOLIGDISEN.DK: accroding to boligsiden the total number of properties (villa,ejerlejlighed and rækkehus) with normal sale between 2012-2013 is 704.692')
print()
print('BOLIGA.DK: according to boliga.dk the total number of properties (villa,ejerlejlighed and rækkehus) with normal sale (almindeligt frit salg) between 2012-2023 is 757.950')

###############################
Total number of "normal" sales between 2012-2023: 855.860
###############################
BOLIGDISEN.DK: accroding to boligsiden the total number of properties (villa,ejerlejlighed and rækkehus) with normal sale between 2012-2013 is 704.692

BOLIGA.DK: according to boliga.dk the total number of properties (villa,ejerlejlighed and rækkehus) with normal sale (almindeligt frit salg) between 2012-2023 is 757.950

# ----- GEt the number of properties with sales between 2012-2023 and normal !

In [100]:
import ast
import datetime as dt

############### COUNT NUMBER OF NORMAL SALES IN THE 935634 PROPERTIES

print_number = 0
count_property = 0

sales_record = merged_data_no_duplicates_noBuildings_removed['registrations']

for row in sales_record:
    dictionary = ast.literal_eval(row)
    
    property_is_valid = False
    
    for sales in dictionary:
        
        if sales['type'] == 'normal':            
            # check date year
            # create date time object
            datetime = dt.datetime.strptime(sales['date'], "%Y-%m-%d") # "%d-%m-%Y")
            # convert to only date - year month and day
            date_obj = datetime.date()

            if date_obj.year > 2011:
                property_is_valid = True
#                 print('----its true!')
                print_number +=1
                break
                
    if property_is_valid:
        count_property +=1
        
        if print_number == 15850:
            print(count_property)
            print_number = 0

print(f'Number of sales classified Normal and registered between 2012-2023: {count_property}')

15850
31700
47550
63400
79250
95100
110950
126800
142650
158500
174350
190200
206050
221900
237750
253600
269450
285300
301150
317000
332850
348700
364550
380400
396250
412100
427950
443800
459650
475500
491350
507200
523050
538900
554750
570600
586450
602300
618150
634000
Number of sales classified Normal and registered between 2012-2023: 641724

In [101]:
print("####################################################")
print("Total number of properties (normal sala between 2012-2023,villa,ejerlejlighed and rækkehus) is: 641.724 ")
print("####################################################")

####################################################
Total number of properties (normal sala between 2012-2023,villa,ejerlejlighed and rækkehus) is: 641.724
####################################################

In [107]:
# def get_user_agent():
#     user_agent_list = [
#         'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/113.0.0.0 Safari/537.36 Edg/113.0.1774.50',
#         'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/93.0.4577.82 Safari/537.36',
#         'Mozilla/5.0 (iPhone; CPU iPhone OS 14_4_2 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/14.0.3 Mobile/15E148 Safari/604.1',
#         'Mozilla/4.0 (compatible; MSIE 9.0; Windows NT 6.1)',
#         'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.141 Safari/537.36 Edg/87.0.664.75',
#         'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/70.0.3538.102 Safari/537.36 Edge/18.18363',
#         'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/113.0.0.0 Safari/537.36 Edg/113.0.1774.57'
#     ]
#     user_agent = user_agent_list[random.randint(0,len(user_agent_list)-1)]
   
#     return user_agent

# def get_header():
    
#     # get user-agent
#     user_agent = get_user_agent()

#      # set up header     
#     header = {
#         'authority': 'api.boligsiden.dk',
#         'accept': 'application/json, text/plain, */*',
#         'accept-language': 'en-GB,en;q=0.9,en-US;q=0.8',
#         'origin': 'https://www.boligsiden.dk',
#         'referer': 'https://www.boligsiden.dk/',
#         'sec-ch-ua': '"Microsoft Edge";v="113", "Chromium";v="113", "Not-A.Brand";v="24"',
#         'sec-ch-ua-mobile': '?0',
#         'sec-ch-ua-platform': '"Windows"',
#         'sec-fetch-dest': 'empty',
#         'sec-fetch-mode': 'cors',
#         'sec-fetch-site': 'same-site',
#         'user-agent': user_agent,
#         'x-api-key': 'GWD0fljZzkc8GOLV',
#     }
#     return header


# # set parameter 
# parameters = {
# #     'municipalities': str(municipal),
#     'per_page': '1410', # ----------------------- static 
#     'page': '1', #----------------------------- static
# #     'priceMax': str(par_price_max),
# #     'priceMin': str(par_price_min),
#     'yearSoldFrom': str(2012),
#     'yearSoldTo': str(2023),
#     'registrationTypes': 'normal', # ---------- Static
#     'addressTypes': 'villa,condo,terraced house',
# #     'areaMin': str(par_size_min),
# #     'areaMax': str(par_size_max),
#     'sold': 'true', # -------------------------- Static
#     'sortAscending': 'false', # --------------- Static
#     'sortBy': 'soldDate' # -------------------- Static
#     }

# # get header
# main_header = get_header()

# # make the Request to the API
# response = requests.get('https://api.boligsiden.dk/search/addresses', params=parameters, headers=main_header)

# if response.status_code == 200:
    
#     totalhits = response.json()['totalHits']
#     print(f'Total hits: {totalhits} (should be 704.692)')
#     # get all the properties from the JSON
# #     property_json_list = response.json()['addresses']

In [106]:
704692/500

1409.384

In [108]:
response